# Deals Part 2: The Power of SQL `SELECT`s

*This notebook uses SQL select statements to learn about mergers and acquisitions in the 1990s. No, actually it's just all about SELECT statements.*

## Library Imports & Database Connection
Some version of the following will need to appear near the top of every notebook in this course. It imports the necessary software libraries and connects to a database

In [4]:
# All query results are returned as Pandas DataFrames 
import pandas as pd

# Needed for %sql Magic
%load_ext sql

# use %sql magic to connect to the deals database
%sql mysql+pymysql://dealsuser:deals@localhost/deals

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: dealsuser@deals'

Let's review, line by line: 
- The code above is actually Python, which is what Jupyter prefers to use natively. 
- The lines that start with `#` are comments with English text explaining what the line below is about. 
- The `import` line allows us to use the pandas library that is all the rage at data science parties. pandas -- note that the p is is never capitalized -- provides data structures that emulate database tables. We won't make use of it here but it may be useful in later assignments.
- The `%load_ext` statement extends Jupyter to allow SQL statements instead of Python. Any statement that starts with %sql or %%sql is run as SQL instead of Python. For details of how this works, RTFM at the [ipython-sql](https://github.com/catherinedevlin/ipython-sql) repo on GitHub. 
- The last line uses `%sql` to connect to an online MySQL database. The pseudo-URL at the end (complete with `://` in the middle) tells Jupyter 
    i) how to connect (i.e., using the pymysql bridge), 
    ii) what kind of database server is on the other end of the connection (i.e., mysql), 
    iii) who is connecting (i.e., login with user `dealsuser` and password `deals`), and 
    iv) where to connect to (i.e., a databse called `deals` hosted on the local [same] computer as Jupyter).

## A Brief Warmup
To make sure that everything is working correctly, let's try a basic `SELECT` query. Copy the following into the code cell below. 

```SQL
%%sql
/* Indicate that we are using the deals database */
USE deals;  
/* Execute a test query  */
SELECT *
FROM Companies
WHERE CompanyName like "%Inc."
```
A few notes: 
- `%%sql` magic allows us to split SQL statements onto multiple lines.
- `US`E indicates what database to use, which is useful when there are multiple database connections (e.g., when copying data from one database to another).
- SQL comments use `/*  */` format.
- The `SELECT` statement is broken out into multiple clauses, each with a different purpose. The last clause (`WHERE CompanyName like "%Inc."`) restricts the listing to only companies with "Inc." at the end of their names.
- The table names are case sensitive! If we were to use `COMPANIES` instead of `Companies` then the query breaks. Try it yourself! (Why the nonstandard name? When this database was first created in 1998, it was distributed as an MS Access database, which always followed CamelCase for table names.)

In [5]:
%%sql
/* Indicate that we are using the deals database */
USE deals;  
/* Execute a test query  */
SELECT *
FROM Companies
WHERE CompanyName like "%Inc."
LIMIT 5;

 * mysql+pymysql://dealsuser:***@localhost/deals
0 rows affected.
5 rows affected.

[(2, 'Abitibi-Price Inc.'),
 (5, 'AirTouch Communications, Inc.'),
 (6, 'Alex. Brown Inc.'),
 (7, 'Allegheny Power System Inc.'),
 (318, 'American Bankers Insurance Group Inc.')]

## Your First Bug
Run the code below, which has two SQL statements in a row. It has a bug, as indicated by a cryptic error message: 
> (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT *\nFROM Companies\nORDER BY CompanyID' at line 7")

What does `Error Code: 1064` mean? It's a syntax error. Can you spot the bug in the code? In this case it's pretty subtle: we are missing a semi-colon (`;`) at the end of each SELECT statement. Add the missing semi-colons and rerun. It should work now (though only the results of the second query will be shown; it's a Jupyter thing).

In [6]:
%%sql
/* Select companies whose names end with Inc. */
SELECT *
FROM Companies
WHERE CompanyName like "%Inc.";

/* Select companies sorted by CompanyName */
SELECT *
FROM Companies
ORDER BY CompanyID
LIMIT 10;

 * mysql+pymysql://dealsuser:***@localhost/deals
111 rows affected.
10 rows affected.

[(1, '3Com Corporation'),
 (2, 'Abitibi-Price Inc.'),
 (3, 'ADT Limited'),
 (4, 'Advanta Corp. Credit card unit'),
 (5, 'AirTouch Communications, Inc.'),
 (6, 'Alex. Brown Inc.'),
 (7, 'Allegheny Power System Inc.'),
 (8, 'Allied Irish Banks P.L.C.'),
 (9, 'American Electric Power Co. Inc. and Public Service'),
 (10, 'American General Corp.')]

## Your First Join
Now let's add another query, this time with data from two tables: `Deals` and `DealParts`.

In [7]:
%%sql
SELECT DealName,PartNumber,DollarValue 
FROM Deals, DealParts
WHERE Deals.DealID = DealParts.DealID
LIMIT 10;

 * mysql+pymysql://dealsuser:***@localhost/deals
10 rows affected.

[('ADT Limited', 1, Decimal('5600.0000')),
 ('Advanta Corp.', 1, Decimal('1300.0000')),
 ('Alex. Brown Inc.', 1, Decimal('1700.0000')),
 ('Allied Colloids Group PLC', 1, Decimal('1810.0000')),
 ('American First Financial Insurance Group Inc.', 1, Decimal('2200.0000')),
 ('American Medical Response, Inc.', 1, Decimal('1120.0000')),
 ('American Radio Systems Corp.', 1, Decimal('2600.0000')),
 ('American Standard Companies, Inc.', 1, Decimal('4000.0000')),
 ('Amerisource Health Corp.', 1, Decimal('2322.0000')),
 ('Amphenol Corp.', 1, Decimal('1500.0000'))]

Here we used the `WHERE` clause to indicate that the `DealID` on the `Deals` table has to match the `DealID` on the `DealParts` table. Believe it or not, that basic logic (that keys on one table have t match keys on anther table) is exactly 92% of the power of the Relational Database Model. We can now just end the course now. How about the final exam next week?

More seriously, while using the `WHERE` clause to match records from different tables works, it s not very efficient. Instead we will want to use a `JOIN .. USING` operator, which is optimized to work with millions of records without breaking a sweat. In this case we don't even need a WHERE clause!

In [8]:
%%sql
SELECT DealName,PartNumber,DollarValue 
FROM Deals 
     JOIN DealParts USING (DealID)
LIMIT 10;

 * mysql+pymysql://dealsuser:***@localhost/deals
10 rows affected.

[('ADT Limited', 1, Decimal('5600.0000')),
 ('Advanta Corp.', 1, Decimal('1300.0000')),
 ('Alex. Brown Inc.', 1, Decimal('1700.0000')),
 ('Allied Colloids Group PLC', 1, Decimal('1810.0000')),
 ('American First Financial Insurance Group Inc.', 1, Decimal('2200.0000')),
 ('American Medical Response, Inc.', 1, Decimal('1120.0000')),
 ('American Radio Systems Corp.', 1, Decimal('2600.0000')),
 ('American Standard Companies, Inc.', 1, Decimal('4000.0000')),
 ('Amerisource Health Corp.', 1, Decimal('2322.0000')),
 ('Amphenol Corp.', 1, Decimal('1500.0000'))]

We can actually 'chain' table joins to link in data from as many tables as we want. We just have to specify what columns to use as keys! Each join in the chain creates a virtual table onto which we can join another table.

In [9]:
%%sql
SELECT DealName,LongCode as Role,CompanyName
FROM Companies
    JOIN Players USING (CompanyID)
    JOIN RoleCodes USING (RoleCode)
    JOIN Deals USING (DealID)
ORDER BY DealName
LIMIT 10;

 * mysql+pymysql://dealsuser:***@localhost/deals
10 rows affected.

[('ADT Limited', 'Second Bidder', 'Tyco International Ltd.'),
 ('ADT Limited', 'First Bidder', 'Western Resources, Inc.'),
 ('ADT Limited', 'Target', 'ADT Limited'),
 ('Advanta Corp.', 'Target', 'Advanta Corp. Credit card unit'),
 ('Advanta Corp.', 'Acquiror', 'Fleet Financial Group, Inc.'),
 ('Alex. Brown Inc.', 'Acquiror', 'Bankers Trust New York Corporation'),
 ('Alex. Brown Inc.', 'Target', 'Alex. Brown Inc.'),
 ('Allied Colloids Group PLC', 'First Bidder', 'Hercules Inc.'),
 ('Allied Colloids Group PLC', 'Target', 'Allied Colloids Group'),
 ('American First Financial Insurance Group Inc.', 'Acquiror', 'American International Group Inc.')]

Study the database schema below to see more opportunities to join tables. You will use this as a guide in the queries that follow.
 ![Deals ERD](img/img2_7.png)

## Challenge Queries: Now for the Fun Stuff
Three queries are described below. In the code cell provided after each description, write a SQL query that best answers the question. Each query should answer the question completely, without us humans needing to do any sorting, counting, etc. 

Don't forget to start each query cell with `%%sql`.

It's okay to collaborate with your classmates. Just be sure that you are typing out your own code.

### Query 1: Lots of joins
**For each deal, list every firm involved, what supporting role it played, and which company it supported.**  
You will need to output the following fields:
- `DealName` from the `Deals` table
- `Name` from the `Firms` table
- `LongCode` from the `SupportCodes` table
- `CompanyName` from the `Companies` table  

You will also need to use keys from the `Players` and `PlayerSupport` tables.

In [10]:
%%sql

/* Joining tables to Join them */

SELECT * FROM Deals 
    JOIN Players USING (DealID)
    JOIN Companies USING (CompanyID)
    JOIN PlayerSupports USING (PlayerID)
    JOIN Firms USING (FirmID)
    JOIN SupportCodes USING (SupportCodeID)
    LIMIT 5;

 * mysql+pymysql://dealsuser:***@localhost/deals
5 rows affected.

[(2, 225, 1, 24, 2, 'Alex. Brown Inc.', None, 'Baltimore', None, 'A', None, 'Bankers Trust New York Corporation', 1, 'BT Wolfensohn', None, 'I', 'IA', 'Investment Adviser', 4),
 (3, 73, 1, 24, 2, 'Alex. Brown Inc.', None, 'Baltimore', None, 'A', None, 'Bankers Trust New York Corporation', 2, 'Debevoise & Plimpton', None, 'c', 'AC', 'Counsel', 5),
 (14, 364, 1, 24, 2, 'Alex. Brown Inc.', None, 'Baltimore', None, 'A', None, 'Bankers Trust New York Corporation', 3, 'Kissel-Blake Inc.', None, 's', 'SOL', 'Proxy Solicitor', 19),
 (1, 116, 1, 24, 2, 'Alex. Brown Inc.', None, 'Baltimore', None, 'A', None, 'Bankers Trust New York Corporation', 4, 'Wachtell, Lipton, Rosen & Katz', None, 'c', 'OC', 'Outside Counsel', 2),
 (1, 124, 2, 140, 3, 'American Medical Response, Inc.', None, 'Aurora, CO', None, 'A', None, 'Laidlaw Inc.', 5, 'Katten Muchin & Zavis', None, 'c', 'OC', 'Outside Counsel', 2)]

### Query 2: Aggregation
**List the DealID, total dollar value and number of parts for each deal.**  
Don't forget to use your database schema map when planning out your joins. Also, be sure to include a comment (above the code) indicating what the view is intended to do.

In [11]:
%%sql

/* Aggregation of Tables to display DealID | Total Dollar Value | Number of Parts for Each Deal */

SELECT DealID, DealName, PartNumber, DollarValue FROM Deals
    JOIN DealParts USING (DealID)
    ORDER BY DealID
    LIMIT 5;

 * mysql+pymysql://dealsuser:***@localhost/deals
5 rows affected.

[(1, 'ADT Limited', 1, Decimal('5600.0000')),
 (2, 'Alex. Brown Inc.', 1, Decimal('1700.0000')),
 (3, 'American Medical Response, Inc.', 1, Decimal('1120.0000')),
 (4, 'American Standard Companies, Inc.', 1, Decimal('4000.0000')),
 (5, 'Amphenol Corp.', 1, Decimal('1500.0000'))]

### Query 3: Even More Aggregation
**List the DealID, DealName, number of players, total dollar value, and number of parts for each deal.**  
Bonus: use a subquery to construct a comma-separated list of deal types for each deal. (Don't forget the explanatory comment.)

In [71]:
%%sql

SELECT DISTINCT DealID, DealName, COUNT(PartNumber) AS NumParts, COUNT(PlayerID) AS TotalPlayers, SUM(DollarValue) AS TotalDollarValue FROM DealParts
    JOIN Deals USING (DealID)
    JOIN Players USING (DealID)
    GROUP BY DealID
    ORDER BY DealID
    Limit 5;

 * mysql+pymysql://dealsuser:***@localhost/deals
5 rows affected.

[(1, 'ADT Limited', 3, 3, Decimal('16800.0000')),
 (2, 'Alex. Brown Inc.', 2, 2, Decimal('3400.0000')),
 (3, 'American Medical Response, Inc.', 2, 2, Decimal('2240.0000')),
 (4, 'American Standard Companies, Inc.', 2, 2, Decimal('8000.0000')),
 (5, 'Amphenol Corp.', 2, 2, Decimal('3000.0000'))]

### Query 4: A Surprisingly Tricky One
**List TypeCode, number of deals, and total value of deals for each deal type.**  
Each firm should be listed, even if there are no deals for that firm.

In [150]:
%%sql

SELECT DISTINCT Name, SUM(DollarValue) AS TotalDollarValue, COUNT(DealID) AS TotalDeals, MAX(TypeCode) AS TypeCode
FROM TypeCodes
    JOIN DealTypes USING (TypeCode)
    JOIN Deals USING (DealID)
    JOIN DealParts USING (DealID)
    JOIN Players USING (DealID)
    JOIN PlayerSupports USING (PlayerId)
    JOIN Firms USING (FirmID)
GROUP BY Name
ORDER BY TotalDollarValue DESC;

 * mysql+pymysql://dealsuser:***@localhost/deals
257 rows affected.

[('Goldman, Sachs & Co.', Decimal('285892.0000'), 66, 'TO'),
 ('Cravath, Swaine & Moore', Decimal('285594.0000'), 34, 'TO'),
 ('Dewey Ballantine', Decimal('285491.0000'), 46, 'TO'),
 ('Simpson Thacher & Bartlett', Decimal('266561.0000'), 46, 'TO'),
 ('Sullivan & Cromwell', Decimal('246530.0000'), 59, 'TO'),
 ('Georgeson & Company Inc.', Decimal('233877.0000'), 32, 'TO'),
 ('The Abernathy / MacGregor Group, Inc.', Decimal('228907.0000'), 29, 'TO'),
 ('Richards, Layton & Finger', Decimal('222779.0000'), 45, 'TO'),
 ('Merrill Lynch & Co.', Decimal('197351.0000'), 56, 'TO'),
 ('D.F. King & Co., Inc.', Decimal('196077.0000'), 29, 'TO'),
 ('Paul, Weiss, Rifkind, Wharton & Garrison', Decimal('191227.0000'), 20, 'TO'),
 ('Skadden, Arps, Slate, Meagher & Flom', Decimal('187520.0000'), 51, 'TO'),
 ('Morris, Nichols, Arsht & Tunnell', Decimal('176730.0000'), 27, 'TO'),
 ('Shearman & Sterling', Decimal('176431.0000'), 34, 'TO'),
 ('Fried, Frank, Harris, Shriver & Jacobson', Decimal('163797.0000'), 29, 'TO'),
 ('Morgan Stanley & Co. Inc.', Decimal('157500.0000'), 28, 'TO'),
 ('Sard Verbinnen & Co., Inc.', Decimal('150970.0000'), 16, 'TO'),
 ('Wachtell, Lipton, Rosen & Katz', Decimal('146419.0000'), 33, 'TO'),
 ('Salomon Brothers Inc.', Decimal('143187.0000'), 21, 'TO'),
 ('Lazard Freres & Co. LLC', Decimal('140160.0000'), 14, 'TO'),
 ('Burson-Marsteller', Decimal('135580.0000'), 11, 'TO'),
 ('Jones, Day, Reavis & Pogue', Decimal('130331.0000'), 20, 'TO'),
 ('Lehman Brothers', Decimal('128070.0000'), 19, 'TO'),
 ('Credit Suisse First Boston', Decimal('113252.0000'), 31, 'TO'),
 ('Kekst and Company', Decimal('110848.0000'), 34, 'TO'),
 ('Bear, Stearns & Co., Inc.', Decimal('91560.0000'), 16, 'TO'),
 ('Linklaters & Paines', Decimal('91380.0000'), 5, 'TO'),
 ('Milbank, Tweed, Hadley & McCloy', Decimal('89660.0000'), 5, 'C/S'),
 ('Innisfree M&A Inc.', Decimal('89200.0000'), 6, 'TO'),
 ('Davis Polk & Wardell', Decimal('88124.0000'), 28, 'TO'),
 ('Bryan Cave', Decimal('84480.0000'), 6, 'SS'),
 ("O'Melveny & Myers", Decimal('83880.0000'), 7, 'TO'),
 ('Dechert Price & Rhoads', Decimal('81202.0000'), 4, 'SS'),
 ('MacKenzie Partners, Inc.', Decimal('80430.0000'), 14, 'TO'),
 ('Swindler & Berlin', Decimal('79960.0000'), 4, 'C/S'),
 ('Morgan Stanley Dean Witter', Decimal('79572.0000'), 20, 'TO'),
 ('Rothschild Inc./NM Rothschild & Sons Ltd.', Decimal('78880.0000'), 3, 'C/S'),
 ('Donaldson, Lufkin & Jenrette Securities Corp.', Decimal('61285.0000'), 15, 'TO'),
 ('J.P. Morgan & Co., Inc.', Decimal('56887.0000'), 11, 'TO'),
 ('Latham & Watkins', Decimal('53683.0000'), 13, 'TO'),
 ('Weil, Gotshal & Manges', Decimal('49488.0000'), 12, 'SS'),
 ('Cleary, Gottlieb, Steen & Hamilton', Decimal('49079.0000'), 17, 'TO'),
 ('Sidley & Austin', Decimal('44980.0000'), 8, 'TO'),
 ('Kummer Kaempfer Bonner & Renshaw', Decimal('39000.0000'), 4, 'TO'),
 ('Dewey Square', Decimal('39000.0000'), 4, 'TO'),
 ('Schreck Morris', Decimal('39000.0000'), 4, 'TO'),
 ('Montgomery Securities', Decimal('35472.0000'), 8, 'TO'),
 ('Smith Barney Inc.', Decimal('34331.0000'), 15, 'TO'),
 ('Freshfields', Decimal('28130.0000'), 6, 'TO'),
 ('Alston & Bird', Decimal('26180.0000'), 2, 'SS'),
 ('Gibson, Dunn & Crutcher', Decimal('25707.0000'), 10, 'TO'),
 ('Debevoise & Plimpton', Decimal('23230.0000'), 12, 'TO'),
 ('Wasserstein Perella & Co. Inc.', Decimal('23164.0000'), 8, 'SS'),
 ('Willkie Farr & Gallagher', Decimal('22309.0000'), 10, 'TO'),
 ('Morrow & Co., Inc.', Decimal('22087.0000'), 10, 'TO'),
 ('White & Case', Decimal('20870.0000'), 6, 'TO'),
 ('Robinson Lerer & Montgomery', Decimal('20500.0000'), 4, 'TO'),
 ('Corporate Investor Communications Inc.', Decimal('19560.0000'), 8, 'SS'),
 ('Slaughter & May', Decimal('19510.0000'), 3, 'C/S'),
 ('UBS Securities', Decimal('19373.0000'), 6, 'TO'),
 ('Baker & Botts', Decimal('18747.0000'), 7, 'TO'),
 ('Kirkland & Ellis', Decimal('16950.0000'), 5, 'SS'),
 ('Stoel Rives', Decimal('16723.0000'), 4, 'SS'),
 ('Wilmer, Cutler & Pickering', Decimal('16100.0000'), 3, 'SS'),
 ('Chase Securities Inc.', Decimal('16070.0000'), 5, 'TO'),
 ('Gavin Anderson & Company', Decimal('15730.0000'), 4, 'SS'),
 ('Lazard Brothers & Company Ltd.', Decimal('15000.0000'), 2, 'CM'),
 ('Chadbourne & Parke', Decimal('14993.0000'), 7, 'TO'),
 ('Vinson & Elkins', Decimal('13717.0000'), 6, 'TO'),
 ('Foster Pepper & Shefelman', Decimal('13180.0000'), 2, 'SS'),
 ('Mayer, Brown & Platt', Decimal('12670.0000'), 5, 'TO'),
 ('Hughes Hubbard & Reed', Decimal('12000.0000'), 1, 'C/S'),
 ('BT Alex. Brown', Decimal('11213.0000'), 3, 'SS'),
 ('Kramer, Levin, Naftalis, Nesse, Kamin & Frankel', Decimal('11200.0000'), 2, 'TO'),
 ('Fleishman-Hillard, Inc.', Decimal('11200.0000'), 2, 'TO'),
 ('Gray Carey Ware & Friedenrich', Decimal('11000.0000'), 2, 'SS'),
 ('Morgan, Lewis & Bockius', Decimal('10500.0000'), 3, 'TO'),
 ('Salomon Smith Barney', Decimal('10060.0000'), 2, 'SS'),
 ('Shareholder Communications Corporation', Decimal('9700.0000'), 1, 'C/S'),
 ('BT Wolfensohn', Decimal('9500.0000'), 5, 'SS'),
 ('Dorsey & Whitney', Decimal('9000.0000'), 1, 'SS'),
 ('Miller, Nash, Wiener, Hagen & Carlsen', Decimal('9000.0000'), 1, 'SS'),
 ('Wilson, Sonsini, Goodrich & Rosati', Decimal('8980.0000'), 6, 'TO'),
 ('Cahill Gordon & Reindel', Decimal('8747.0000'), 4, 'TO'),
 ('Greenhill & Co.', Decimal('8500.0000'), 4, 'SS'),
 ('Deutsche Morgan Grenfell', Decimal('8490.0000'), 4, 'TO'),
 ('Waller Lansden Dortch & Davis', Decimal('8180.0000'), 1, 'SS'),
 ('Allen & Overy', Decimal('8100.0000'), 2, 'TO'),
 ('SBC Warburg', Decimal('8000.0000'), 1, 'C/S'),
 ('Goodwin, Procter & Hoar', Decimal('7740.0000'), 4, 'SS'),
 ('in-house', Decimal('7500.0000'), 3, 'SS'),
 ('Brown & Wood', Decimal('7000.0000'), 1, 'SS'),
 ('LeBoeuf, Lamb, Greene & MacRae', Decimal('6940.0000'), 3, 'SS'),
 ('Nationsbank ontgomery Securities', Decimal('6800.0000'), 1, 'C/S'),
 ('Howard & Howard', Decimal('6800.0000'), 1, 'C/S'),
 ('McGuire, Woods, Battle & Boothe', Decimal('6650.0000'), 2, 'SS'),
 ('Keefe, Bruyette & Woods, Inc.', Decimal('6530.0000'), 3, 'SS'),
 ('Pillsbury Madison & Sutro', Decimal('6490.0000'), 2, 'SS'),
 ('Andrews & Kurth', Decimal('6440.0000'), 6, 'SS'),
 ('Hogan & Hartson', Decimal('6439.0000'), 3, 'SS'),
 ('Rogers & Wells', Decimal('6405.0000'), 4, 'SS'),
 ('Evercore Group Inc.', Decimal('6200.0000'), 1, 'TO'),
 ('Kantrow, Spaht, Weaver & Blitzer', Decimal('6200.0000'), 1, 'TO'),
 ('Jose, Henry, Brantley & Keltner', Decimal('6200.0000'), 1, 'TO'),
 ('Gibbs & Bruns', Decimal('6200.0000'), 1, 'TO'),
 ('Dillon, Read & Co. Inc.', Decimal('5910.0000'), 3, 'SS'),
 ('Rosenberg & Liebentritt', Decimal('5700.0000'), 2, 'SS'),
 ('Kramer, Levin, Naftalis & Frankel', Decimal('5200.0000'), 2, 'SS'),
 ('PaineWebber Inc.', Decimal('5129.0000'), 4, 'SS'),
 ('Wiley, Rein & Fielding', Decimal('5100.0000'), 3, 'C/S'),
 ('NM Rothschild', Decimal('5100.0000'), 2, 'TO'),
 ('Gleacher Natwest Inc.', Decimal('5000.0000'), 3, 'SS'),
 ('Skinner & Co.', Decimal('5000.0000'), 2, 'SS'),
 ('Fulbright & Jaworski', Decimal('4950.0000'), 4, 'SS'),
 ('Morrison & Foerster', Decimal('4900.0000'), 2, 'TO'),
 ('Goldman Sachs International', Decimal('4720.0000'), 2, 'TO'),
 ('Financial Dynamics', Decimal('4610.0000'), 2, 'TO'),
 ('Sutherland, Asbill & Brennan', Decimal('4220.0000'), 2, 'C/S'),
 ('Potter Anderson & Corroon', Decimal('4200.0000'), 3, 'C/S'),
 ('Katten Muchin & Zavis', Decimal('4150.0000'), 3, 'TO'),
 ('The Blackstone Group L.P.', Decimal('4140.0000'), 3, 'SS'),
 ('Cazenove', Decimal('4110.0000'), 2, 'C/S'),
 ('Akin, Gump, Strauss, Hauer & Feld', Decimal('4050.0000'), 3, 'SS'),
 ('Schulte Roth & Zabel', Decimal('3900.0000'), 2, 'C/S'),
 ('Robinson Silverman Pearce Aronsohn & Berman', Decimal('3900.0000'), 2, 'C/S'),
 ('Clark & Weinstock', Decimal('3900.0000'), 2, 'C/S'),
 ('Gallagher PR', Decimal('3700.0000'), 1, 'SS'),
 ('Winthrop, Stimson, Putnam & Roberts', Decimal('3600.0000'), 2, 'CM'),
 ('Orrick, Herrington & Sutcliffe', Decimal('3300.0000'), 2, 'TO'),
 ('Kissel-Blake Inc.', Decimal('3200.0000'), 2, 'SS'),
 ('Stikeman, Elliot', Decimal('3117.0000'), 2, 'C/S'),
 ('Tory, Tory, DesLauriers & Binnington', Decimal('3117.0000'), 2, 'C/S'),
 ('Raymond James & Associates Inc.', Decimal('3030.0000'), 2, 'TO'),
 ('Tanner & Co. Inc.', Decimal('3000.0000'), 2, 'C/S'),
 ('Correro Fishman Haygood Phelps Weiss Walmsey & Cas', Decimal('3000.0000'), 1, 'SS'),
 ('Miller Shandwick Technologies', Decimal('3000.0000'), 1, 'SS'),
 ('NationsBanc Capital Markets', Decimal('3000.0000'), 3, 'TO'),
 ('Ketchum Public Relations', Decimal('3000.0000'), 2, 'SS'),
 ('Peper, Martin, Jensen, Maichel and Hetlage', Decimal('2900.0000'), 1, 'SS'),
 ('Corporate Communications', Decimal('2900.0000'), 1, 'SS'),
 ('Brobeck, Phleger & Harrison', Decimal('2860.0000'), 2, 'TO'),
 ('Alex. Brown & Sons Inc.', Decimal('2850.0000'), 2, 'SS'),
 ('Piper & Marbury', Decimal('2850.0000'), 2, 'SS'),
 ('Perkins Coie', Decimal('2820.0000'), 1, 'C/S'),
 ('Broadgate Consultants', Decimal('2820.0000'), 1, 'C/S'),
 ('RBC Dominion Securities Inc.', Decimal('2814.0000'), 2, 'C/S'),
 ('Ashurst Morris Crisp', Decimal('2800.0000'), 1, 'TO'),
 ('Neal, Gerber & Eisenberg', Decimal('2625.0000'), 2, 'C/S'),
 ('Watson Farley', Decimal('2625.0000'), 2, 'C/S'),
 ('Proskauer Rose Goetz Mendelsohn', Decimal('2625.0000'), 2, 'C/S'),
 ('Nyemaster, Goode, McLaughlin, Voigts, West, Hansel', Decimal('2600.0000'), 1, 'C/S'),
 ('Tillinghast', Decimal('2600.0000'), 1, 'C/S'),
 ('CIBC Wood Gundy Inc.', Decimal('2600.0000'), 2, 'C/S'),
 ('Sullivan & Worcester', Decimal('2600.0000'), 1, 'C/S'),
 ('McDermott, Will & Emery', Decimal('2600.0000'), 2, 'SS'),
 ('Evercore Partners', Decimal('2560.0000'), 1, 'C/S'),
 ('Heller Ehrman White & McAuliffe', Decimal('2500.0000'), 2, 'SS'),
 ('Lowenstein, Sandler, Kohl, Fisher & Boy-Ian', Decimal('2500.0000'), 1, 'SS'),
 ('Edelman Public Relations World', Decimal('2383.0000'), 2, 'SS'),
 ('Bartlit Beck Herman Palenchar & Scott', Decimal('2350.0000'), 1, 'C/S'),
 ('Peter J. Solomon Company', Decimal('2322.0000'), 1, 'SS'),
 ('Williams, Mullen, Christian & Dobbins', Decimal('2300.0000'), 1, 'SS'),
 ('Jones, Walker, Wachter, Poitevent, Carrere & Denegre', Decimal('2223.0000'), 1, 'C/S'),
 ('Carrerre & Denegre', Decimal('2223.0000'), 1, 'C/S'),
 ('Boles & Boles', Decimal('2223.0000'), 1, 'C/S'),
 ('Bracewell & Paterson', Decimal('2140.0000'), 2, 'C/S'),
 ('Stroock & Stroock & Lavan', Decimal('2000.0000'), 2, 'TO'),
 ('Powell, Goldstein, Frazer & Murphy', Decimal('2000.0000'), 2, 'SS'),
 ('The Dilenschneider Group', Decimal('2000.0000'), 1, 'C/S'),
 ('SJ Berwin & Co.', Decimal('2000.0000'), 1, 'C/S'),
 ('Dinsmore & Shohl', Decimal('2000.0000'), 1, 'C/S'),
 ('Societe Generale Securities Corporation', Decimal('2000.0000'), 1, 'C/S'),
 ('Huber Lawrence Abel', Decimal('1920.0000'), 1, 'TO'),
 ('Troop, Meisinger, Steuer, Pasich', Decimal('1900.0000'), 1, 'C/S'),
 ('Squardon, Ellenoff', Decimal('1900.0000'), 1, 'C/S'),
 ('Freehill, Hollingdale & Page', Decimal('1880.0000'), 1, 'PA'),
 ('Mallesons, Stephens, Jacques', Decimal('1880.0000'), 1, 'PA'),
 ('Berlach, Israel & Liberman', Decimal('1880.0000'), 1, 'PA'),
 ('Troutman Sanders', Decimal('1870.0000'), 1, 'C/S'),
 ('Dresdner Kleinwort Benson', Decimal('1870.0000'), 1, 'C/S'),
 ('Quarles & Brady', Decimal('1800.0000'), 1, 'TO'),
 ('William Blair & Company', Decimal('1800.0000'), 1, 'TO'),
 ('Sonnenschein Nath & Rosenthal', Decimal('1800.0000'), 1, 'TO'),
 ('Young, Conaway, Stargatt & Taylor', Decimal('1700.0000'), 1, 'C/S'),
 ('Munger, Tolles & Olson', Decimal('1700.0000'), 1, 'C/S'),
 ('Sheehan Phinney Bass & Green', Decimal('1700.0000'), 1, 'TO'),
 ('Noonan/Russo Communications, Inc.', Decimal('1650.0000'), 1, 'SS'),
 ('Boxenbaum, Grates', Decimal('1617.0000'), 1, 'C/S'),
 ('Union Bank of Switzerland', Decimal('1617.0000'), 1, 'C/S'),
 ('Miller & Martin', Decimal('1617.0000'), 1, 'C/S'),
 ('Long Aldridge Norman', Decimal('1617.0000'), 1, 'C/S'),
 ('CIBC Wood Gundy Securities, Inc.', Decimal('1617.0000'), 1, 'C/S'),
 ('Brainerd Communicators', Decimal('1600.0000'), 1, 'SS'),
 ('Toronto Dominion', Decimal('1600.0000'), 1, 'C/S'),
 ('Blake, Cassels & Grayson', Decimal('1600.0000'), 1, 'C/S'),
 ('Jaffoni & Collins Inc.', Decimal('1600.0000'), 1, 'SS'),
 ('Citigate Inc.', Decimal('1590.0000'), 1, 'TO'),
 ('The Atkins Company', Decimal('1500.0000'), 1, 'SS'),
 ('Bankers Trust Corp.', Decimal('1500.0000'), 1, 'C/S'),
 ('Gardner, Carton & Douglas', Decimal('1500.0000'), 1, 'SS'),
 ('Oscar Folger, solo practitioner', Decimal('1500.0000'), 1, 'SS'),
 ('Nesbitt Burns Inc.', Decimal('1500.0000'), 1, 'C/S'),
 ('Dewe Rogerson, Inc.', Decimal('1500.0000'), 1, 'SS'),
 ('Faegre & Benson', Decimal('1490.0000'), 1, 'C/S'),
 ('Schroder Wertheim & Co.', Decimal('1392.0000'), 1, 'TO'),
 ('Pepper, Hamilton & Scheetz', Decimal('1360.0000'), 1, 'C/S'),
 ('Crouch & Hallett', Decimal('1355.0000'), 1, 'C/S'),
 ('Squardon, Ellenoff, Plesent & Sheinfeld', Decimal('1355.0000'), 1, 'C/S'),
 ('Davis Wallis Foyster', Decimal('1330.0000'), 1, 'C/S'),
 ('Hambrecht & Quist', Decimal('1300.0000'), 1, 'SS'),
 ('Furman Selz Inc.', Decimal('1300.0000'), 1, 'SS'),
 ('Wolf, Block, Schorr & Cohe', Decimal('1300.0000'), 1, 'C/S'),
 ('Wolfensohn', Decimal('1283.0000'), 1, 'C/S'),
 ('Haskell Slaughter & Young', Decimal('1250.0000'), 1, 'C/S'),
 ('Blass & Driggs', Decimal('1250.0000'), 1, 'C/S'),
 ('Hanover Capital Partners Ltd.', Decimal('1230.0000'), 1, 'CM'),
 ('Cohane Rafferty Securities Inc.', Decimal('1230.0000'), 1, 'CM'),
 ('Hutchins, Wheeler & Ditmar', Decimal('1230.0000'), 1, 'CM'),
 ('Liebowitz & Associates', Decimal('1200.0000'), 1, 'C/S'),
 ('Baker & MacKenzie', Decimal('1200.0000'), 1, 'C/S'),
 ('Banamex', Decimal('1200.0000'), 1, 'C/S'),
 ('Liddell, Sapp, Zivley, Hill & LaBoon', Decimal('1200.0000'), 1, 'SS'),
 ('Bennet Jones Verchere', Decimal('1197.0000'), 1, 'C/S'),
 ('Drinker Biddle & Reath', Decimal('1180.0000'), 1, 'SS'),
 ('McCormick & Pryor', Decimal('1180.0000'), 1, 'SS'),
 ('Copithorne & Bellows', Decimal('1180.0000'), 1, 'SS'),
 ('Cooley Godward', Decimal('1180.0000'), 1, 'SS'),
 ('Heller Ehrman', Decimal('1150.0000'), 1, 'C/S'),
 ('Daniels & Associates', Decimal('1150.0000'), 1, 'C/S'),
 ('Akin Gump', Decimal('1150.0000'), 1, 'C/S'),
 ('Ropes & Gray', Decimal('1120.0000'), 1, 'C/S'),
 ('Riordan & McKenzie', Decimal('1100.0000'), 1, 'SS'),
 ('Venture Law Group', Decimal('1100.0000'), 1, 'SS'),
 ('Duane, Morris & Heckscher', Decimal('1100.0000'), 1, 'SS'),
 ('Locke, Purnell, Rain & Harrell', Decimal('1100.0000'), 1, 'C/S'),
 ('Taft, Stettinius & Hollister', Decimal('1100.0000'), 1, 'C/S'),
 ('King & Spalding', Decimal('1100.0000'), 1, 'C/S'),
 ('J.P. Morgan Securities Inc.', Decimal('1100.0000'), 1, 'C/S'),
 ('Bobby Blake and Associates', Decimal('1100.0000'), 1, 'SS'),
 ('Morrison & Hecker', Decimal('1100.0000'), 1, 'C/S'),
 ('Wilcox & Savage', Decimal('1080.0000'), 1, 'C/S'),
 ('Munsch Hardt Kopf Harr & Dinan', Decimal('1080.0000'), 1, 'C/S'),
 ('Hunton & Williams', Decimal('1080.0000'), 1, 'C/S'),
 ('Friedman, Billings, Ramsey & Co. Inc.', Decimal('1075.0000'), 1, 'C/S'),
 ('Rudnick & Wolfe', Decimal('1057.0000'), 1, 'C/S'),
 ('BA Partners', Decimal('1050.0000'), 1, 'C/S'),
 ('McDonald & Co.', Decimal('1050.0000'), 1, 'SS'),
 ('Goodman Phillips & Vineberg', Decimal('1000.0000'), 1, 'SS'),
 ('Gordon Altman', Decimal('1000.0000'), 1, 'C/S'),
 ('Thompson, Hine & Flory', Decimal('1000.0000'), 1, 'C/S'),
 ('Davies, Ward & Beck', Decimal('1000.0000'), 1, 'SS'),
 ('Goulston & Storrs', Decimal('1000.0000'), 1, 'C/S'),
 ('Dickstein Shapiro Morin & Oshinsky', Decimal('1000.0000'), 1, 'TO'),
 ('Osler, Hoskin & Harcourt', Decimal('1000.0000'), 1, 'SS'),
 ('Mayor, Day, Caldwell & Keeton', Decimal('1000.0000'), 1, 'SS'),
 ('Goodman and Carr', Decimal('1000.0000'), 1, 'SS'),
 ('Buchanan Ingersol', Decimal('1000.0000'), 1, 'TO')]

In [13]:
%%sql

SELECT TypeCode, COUNT(DealID) AS NumberofDeals, SUM(DollarValue) FROM DealParts
    JOIN Deals USING (DealID)
    JOIN DealTypes USING (DealID)
GROUP BY TypeCode;

 * mysql+pymysql://dealsuser:***@localhost/deals
6 rows affected.

[('C/S', 80, Decimal('271794.0000')),
 ('CM', 3, Decimal('8030.0000')),
 ('PA', 1, Decimal('1880.0000')),
 ('PF', 4, Decimal('27790.0000')),
 ('SS', 59, Decimal('204658.0000')),
 ('TO', 16, Decimal('55972.0000'))]

### Query 5: Make up your own query to share.
Be creative. Impress us with your brilliance!

**List Type, Total Dollar Value, Total Deals** | 
**_Group by the Type_**

In [14]:
%%sql

SELECT DISTINCT Type, SUM(DollarValue) AS TotalValue, COUNT(DealID) FROM DealParts
    JOIN Deals USING (DealID)
    JOIN DealTypes USING (DealID)
    JOIN Players USING (DealID)
    JOIN PlayerSupports USING (PlayerID)
    JOIN Firms USING (FirmID)
GROUP BY Type
ORDER BY Type;

 * mysql+pymysql://dealsuser:***@localhost/deals
6 rows affected.

[(None, Decimal('190220.0000'), 36),
 ('c', Decimal('3981442.0000'), 813),
 ('I', Decimal('1744711.0000'), 413),
 ('l', Decimal('2814.0000'), 2),
 ('p', Decimal('715385.0000'), 122),
 ('s', Decimal('642251.0000'), 98)]